<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="de052278-25a7-4fc6-9fa4-ff641eaeb846" Publisher="CN=Stas" Version="1.0.0.8" />
  <Properties>
    <DisplayName>Tests</DisplayName>
    <PublisherDisplayName>Stas</PublisherDisplayName>
    <Logo>Assets\Logo50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Tests.App">
      <m2:VisualElements DisplayName="Tests" Description="Victorina" ForegroundText="dark" BackgroundColor="#FFFFFF" Square150x150Logo="Assets\Logo150.png" Square30x30Logo="Assets\Logo30.png">
        <m2:SplashScreen Image="Splash\SplashScreen.png" BackgroundColor="#FFFFFF" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>